body {
  background-image: url("./img/computer-1.png"), url("./img/computer-2.png"), url("./img/bg-noise.png");
  background-position: left 0 top 140px, right 0 top 350px, center;
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: 396px, 396px, auto;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 0;
}

a {
  word-wrap: break-word;
}

.headline {
  background-image: url("./img//output-onlinepngtools.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 396px, 396px, auto;
  padding-top:100px;
  margin-bottom:5rem;
}

.capitalize {
  text-transform: capitalize;
}

.center {
  justify-content: center;
  text-align: center;
}

.container {
  margin: auto;
  padding: 10px;
}

.element-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:2rem;
}

.element-userinput {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1em;
  letter-spacing: 1px;
  margin: 0 0 0.5rem 0;
  padding: 0 0.6rem 0;
  font-weight: 900;
}

input[type="text"] {
  border-radius: 3px;
  font-size: 1em;
  padding: 0.8rem;
  line-height: 1;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
}

input[type="text"]:focus {
  border-color: #21ffff;
  box-shadow: 0 1px 1px #21ffff inset,
  0 0 8px #21ffff;
  outline: 0 none;
}

button {
  background-color: #CF873D;
  border: 0;
  border-radius: 3px;
  color: #411e2f;
  font-size: 1em;
  line-height: 1;
  padding: 1rem 1.5rem;
  font-weight: bolder;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #411e2f;
}

#do-req {
  align-self: flex-end;
}

.response {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: #21ffff;
  margin: 3rem;
  border: 3px solid rgba(255, 255, 255, 1);
}

.response-data {
  width: 50%;
  padding: 1em;
  background-color: #CF873D;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.response-data a {
  color: white;
}
#loader-wrapper {
  width: 100vw;
  height: 100vh;
  left: 0px;
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.4);
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 6px;
  border: 6px solid #21ffff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #21ffff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.progress-bar {
  width: 0;
  animation: progress 3s ease-in-out forwards;
  line-height: 25px;
  background-color: #CF873D;
  border-radius: 3px;
  margin-top: 4rem;
}
.progress {
  margin: 20px auto;
  background-color: white;
  border-radius: 3px;
  height: 25px;
}

.progress-text {
  font-style: italic;
  margin-bottom:2rem;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes show  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.table-wrapper {
  margin: auto;
  border: none;
}
.table {
  color: #fff;
  background-color: #CF873D;
  text-align:left;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  border-radius: 4px;
}

.table thead {
  background: rgba(0, 0, 0, 0.08);
}

.table td, .table th, .table thead th {
  border-color: #CF873D;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table th {
  border-top: none;
}
